<meta name="layout" content="main"/>
<div class="post">
  <h2>{{ this.title }}</h2>
  <div class="body">
    {{ this.body }}
  </div>
  <p class="meta">
    Published on {{ this.publish_date | short_date }}. {{ this.body | number_of_words }} words.
  </p>
  <p class="pager">
{% if this.next %}
      <a class="older" href="{{ this.next | uri_rel }}">&laquo; {{ this.next.title }}</a>
{% endif %}
{% if this.prev %}
      <a class="newer" href="{{ this.prev | uri_rel }}">{{ this.prev.title }} &raquo;</a>
{% endif %}
  </p>
</div>